<!--begin::Card-->
<div class="card pt-4 mb-6 mb-xl-9">
    <!--begin::Card header-->
    <div class="card-header border-0">
        <!--begin::Card title-->
        <div class="card-title">
            <h2>Education</h2>
        </div>
        <!--end::Card title-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0 pb-5">
        <div class="d-flex flex-column">
            <!--begin::Content-->
            <div class="d-flex align-items-center mb-2">
                <!--begin::Title-->
                <a href="#"
                   class="text-dark text-hover-primary fs-4 me-3 fw-semibold">BS Information Technology</a>
                <!--end::Title-->
                <!--begin::Label-->
                <span class="badge badge-light my-1">2009 - 2013</span>
                <!--end::Label-->
            </div>
            <!--end::Content-->
            <!--begin::Text-->
            <span class="text-muted fw-semibold fs-6 mb-5">College of St. Catherine, Philippines</span>
            <!--end::Text-->

            <div class="d-flex">
                <i class="ki-duotone ki-medal-star fs-2">
                    <i class="path1"></i>
                    <i class="path2"></i>
                    <i class="path3"></i>
                    <i class="path4"></i>
                </i>

                <div class="d-flex flex-column">
                    <div class="fs-6 fw-semibold text-gray-400"> Best in On the Job training.</div>
                    <div class="fs-6 fw-semibold text-gray-400"> School VP of IT Department</div>
                </div>

            </div>

        </div>
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->