<!--begin::Card-->
													<div class="card pt-4 mb-6 mb-xl-9">
														<!--begin::Card header-->
														<div class="card-header border-0">
															<!--begin::Card title-->
															<div class="card-title">
																<h2 class="fw-bold">Profile Info</h2>
															</div>
															<!--end::Card title-->
															
														</div>
														<!--end::Card header-->
														<!--begin::Card body-->
														<div class="card-body pt-0">
															<p>Analytical and task-driven professional with 7+ years of experience in front- and back-end web development. Skilled at meeting with clients to discuss requirements, solving technical issues,  generating code for websites, collaborating with other developers, as well as maintaining and updating websites and applications. </p>
														</div>
														<!--end::Card body-->
													</div>
													<!--end::Card-->