<!--begin::Card-->
<div class="card pt-4 mb-6 mb-xl-9">
    <!--begin::Card header-->
    <div class="card-header border-0">
        <!--begin::Card title-->
        <div class="card-title">
            <h2 class="fw-bold mb-0">Skills</h2>
        </div>
        <!--end::Card title-->

    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div id="kt_customer_view_payment_method" class="card-body pt-0">


        <div class="row mb-10">
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/csharp.png" height="50" width="50" alt="">
                        </i>


                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    C#
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/asp-net-mvc.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    ASP.NET MVC
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/asp-net-mvc.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    EF
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/html5.svg" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    HTML5
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/css-5.svg" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    CSS3
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/javascript-4.svg" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    JAVASCRIPT
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/jquery-3.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    JQUERY
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/sql-server.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    SQL SERVER
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/sqlite.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    SQLite
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/java.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    JAVA
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/kotlin.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    KOTLIN
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/flutter.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    FLUTTER
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/photoshop.svg" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    PHOTOSHOP
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/illustrator.svg" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    ILLUSTRATOR
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/wordpress.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    WORDPRESS
                </span>
            </div>
            <div class="col-md-3 col-lg-2 col-6 text-center mb-6" data-kt-icon-preview="true">
                <div class="d-flex flex-center bg-light rounded p-4 h-80px mb-1 overlay">
                    <div class="overlay-wrapper text-gray-600">
                        <i class="ki-duotone ki-abstract-33 fs-2x">
                            <img src="../../assets/media/svg/brand-logos/woocommerce.png" height="50" width="50" alt="">
                        </i>
                    </div>

                </div>

                <span class="fs-7 fw-semibold" data-kt-icon-name="true">
                    WOOCOMMERCE
                </span>
            </div>
        </div>












    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->