<!--begin:::Tab pane-->
												<div class="tab-pane fade" id="kt_work_experience_tab" role="tabpanel">
													<!--begin::Card-->
													<div class="card pt-4 mb-6 mb-xl-9">
														<!--begin::Card header-->
														<div class="card-header border-0">
															<!--begin::Card title-->
															<div class="card-title">
																<h2>Work Details</h2>
															</div>
															<!--end::Card title-->
															
														</div>
														<!--end::Card header-->
														<!--begin::Card body-->
														<div class="card-body pt-0">
            <div class="d-flex flex-column">
				<!--begin::Content-->
				<div class="d-flex align-items-center mb-2">
					<!--begin::Title-->
					<div class="text-dark text-hover-primary fs-4 me-3 fw-semibold">.NET Application Support</div>
					<!--end::Title-->

					<!--begin::Label-->
					<span class="badge badge-light my-1">2016 - 2023</span>
					<!--end::Label-->
				</div>
				<!--end::Content-->

				<!--begin::Text-->
				<span class="text-muted fw-semibold fs-6 mb-5">ELEMEGA FZE l United Arab Emirates</span>
				<!--end::Text-->

				<ul>
					<li>Develop and Design websites and applications in C#</li>
					<li>Design pictures and icons in Photoshop and other.</li>
					<li>Work with SQL server database.</li>
					<li>Provide application support and documentation when required.</li>
					<li>Visit the client site when needed for support and requirement gathering and other. </li>
					<li>Work on dynamic tasks like marketing, pre and post sales.</li>
				</ul>

			</div>
<div class="separator separator-dashed my-5"></div>
<div class="d-flex flex-column">
				<!--begin::Content-->
				<div class="d-flex align-items-center mb-2">
					<!--begin::Title-->
					<div class="text-dark text-hover-primary fs-4 me-3 fw-semibold">IT Support /Developer </div>
					<!--end::Title-->

					<!--begin::Label-->
					<span class="badge badge-light my-1">2013 - 2016</span>
					<!--end::Label-->
				</div>
				<!--end::Content-->

				<!--begin::Text-->
				<span class="text-muted fw-semibold fs-6 mb-5">VETERANS INFORMATION TECHNOLOGIES INC. l PHILIPPINES</span>
				<!--end::Text-->

				<ul>
					<li>Design, installation, testing, and maintenance of company and clients software.</li>
					<li>Convert DOS/Old Programs into window based.</li>
					<li>Preparation of training for users.</li>
					<li>Propose new techniques and innovations that can improve software. </li>
					<li>Installation/configuration, operation, and maintenance of system hardware, software, network and other related infrastructure.  </li>
					<li>Perform backup operations.</li>
					<li>Repair and recover from hardware or software failures.</li>
					<li>Assist staff from using computer, projector, scanner etc.</li>
				</ul>

			</div>

			<div class="separator separator-dashed my-5"></div>
<div class="d-flex flex-column">
				<!--begin::Content-->
				<div class="d-flex align-items-center mb-2">
					<!--begin::Title-->
					<div class="text-dark text-hover-primary fs-4 me-3 fw-semibold">Freenlance Developer </div>
					<!--end::Title-->

					<!--begin::Label-->
					<span class="badge badge-light my-1">2013</span>
					<!--end::Label-->
				</div>
				<!--end::Content-->

				<!--begin::Text-->
				<span class="text-muted fw-semibold fs-6 mb-5">BARANGAY POTRERO MALABON  l PHILIPPINES </span>
				<!--end::Text-->

				<ul>
					<li>Create, Design and Implement Information System at Barangay Potrero.</li>
					<li>Provide application support, user training and documentation.</li>
				</ul>

			</div>

														</div>
														<!--end::Card body-->
													</div>
													<!--end::Card-->
												</div>
												<!--end:::Tab pane-->